<div class="booyah-box col-10 offset-1">
  <h1>Fix that Cat!</h1>
  <%= simple_form_for @cat do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :picture %>
  <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>