<% @cat.each do |cat| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to cat.name, cat_path(cat) %></h1><br />
    <p><%= cat.description %></p><br />

    <%= will_paginate @cat %>
  

   <% if @cat.previous_page %>
    <%= link_to "< Previous", params.merge(page: @cat.previous_page) %>
    <% end %>
  Page <%= @cat.current_page %> of <%= @cat.total_pages %>
    <% if @cat.next_page %>
    <%= link_to "Next >", params.merge(page: @cat.next_page) %>
    <% end %>

    <% if cat.user.present? %>
      <small><%= cat.user.email %></small>
    <% end %>

    <% if place.comments.present? %>  
      <div class="col-12">
        <blockquote>
          <% if comment.humanized_rating.present? %>
            <b><%= cat.comment.last.humanized_rating %></b> -
          <% end %>
            <%= cat.comments.last.message %>
            <small><%= cat.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>

  </div>
  <hr />
  <% end %>