<div class="booyah-box col-10 offset-1">
<h1>Who's the Coolest Cat</h1>
  <%= simple_form_for @cat do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :picture %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>